#nav-tab {
    margin-bottom: 30px;
}

#plot-size {
    height: 50%;
}

#center-content {
    text-align: center;
}

#image-size {
    width: 410px;
    height: 300px;
}

.card {
    border: 1px solid rgb(255, 255, 255);
}
