<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="static/style.css">
    <title>Churn Telco Prediction</title>
  </head>
  <body>





    <div class="mb-4 bg-light rounded-3">
        <div class="container py-5">
          {% if prediction %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            Churn: <strong>{{prediction}}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}

            <h3>Telecommunication Churn Analysis and prediction</h3>

            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Visualization (Graphs)</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Prediction</button>
                <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Model</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                <div class="row row-cols-1 row-cols-md-1 g-4">
                  <div class="col">
                    <div class="card">
                      <div id="center-content">
                        <img id="image-size" src="https://github.com/caesarorz/telcochurn/blob/main/data/images/churn1.png?raw=true" class="card-img-top img-fluid" alt="...">
                      </div>
                      <div class="card-body">
                        <p class="card-text">The graph demostrates how the data has customers that churn or not. The dataset is imbalanced, however is not critical. 
                          <code><pre>sns.countplot(data=df, x='Churn');</pre></code> 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <div id="center-content">
                        <img id="image-size" src="https://github.com/caesarorz/telcochurn/blob/main/data/images/internetservice3.png?raw=true" class="card-img-top img-fluid" alt="...">
                      </div>
                      <div class="card-body">
                        <p class="card-text">The graph demostrates how the data has customers that churn or not. The dataset is imbalanced, however is not critical. 
                          <code><pre>sns.countplot(data=df, x='Churn');</pre></code> 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <div id="center-content">
                        <img id="image-size" src="https://github.com/caesarorz/telcochurn/blob/main/data/images/tenure_cohort5.png?raw=true" class="card-img-top img-fluid" alt="...">
                      </div>
                      <div class="card-body">
                        <p class="card-text">The graph demostrates how the data has customers that churn or not. The dataset is imbalanced, however is not critical. 
                          <code><pre>sns.countplot(data=df, x='Churn');</pre></code> 
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col">
                    <div class="card">
                      <div id="center-content">
                        <img id="image-size" src="https://github.com/caesarorz/telcochurn/blob/main/data/images/contract4.png?raw=true" style="max-width: 80%;" class="card-img-top img-fluid" alt="...">
                      </div>
                      <div class="card-body">
                        <p class="card-text">The graph demostrates how the data has customers that churn or not. The dataset is imbalanced, however is not critical. 
                          <code><pre>sns.countplot(data=df, x='Churn');</pre></code> 
                        </p>
                      </div>
                    </div>
                  </div>
                </div>



                <div class="card mb-3" style="margin-top: 30px;">
                  <div class="row g-0">
                    <div class="col-md-8">
                      <img src="https://github.com/caesarorz/telcochurn/blob/main/data/images/contract_tenure6.png?raw=true" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-4">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><code><pre>sns.countplot(data=df, x='Churn');</pre></code></p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8">
                      <img src="https://github.com/caesarorz/telcochurn/blob/main/data/images/yes_churn_features_importance2.png?raw=true" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-4">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><code><pre>sns.countplot(data=df, x='Churn');</pre></code></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">

                <p>Fill out the form with the information required to predict if your customer leaves or not</p>

                <form class="row g-3 needs-validation" method="post" action="" novalidate id="churn_form">
                  <div class="col-md-3">
                    <label for="validationCustom04" class="form-label">Senior Citizen</label>
                    <select name="SeniorCitizen" class="form-select form-select-sm" aria-label=".form-select-sm example" id="validationCustom04" required>
                      <option value="SeniorCitizen">Yes</option>
                      <option value="SeniorCitizen_No">No</option>
                    </select>
                    <div class="invalid-feedback">
                      Please select a valid state.
                    </div>
                </div>
                  <div class="col-md-3">
                      <label for="validationCustom04" class="form-label">Gender</label>
                      <select name="gender" class="form-select form-select-sm" aria-label=".form-select-sm example" id="validationCustom04" required>
                        <option value="gender_Female">Female</option>
                        <option value="gender_Male">Male</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="validationCustom04" class="form-label">Partner</label>
                      <select name="Partner" class="form-select form-select-sm" aria-label=".form-select-sm example" id="validationCustom04" required>
                        <option value="Partner_Yes">Yes</option>
                        <option value="Partner_No">No</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="validationCustom04" class="form-label">Phone Service</label>
                      <select name="PhoneService" class="form-select form-select-sm" aria-label=".form-select-sm example" id="validationCustom04" required>
                        <option value="PhoneService_Yes">Yes</option>
                        <option value="PhoneService_No">No</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="validationCustom04" class="form-label">Multiple Lines</label>
                      <select name="MultipleLines" class="form-select form-select-sm" aria-label=".form-select-sm example" id="validationCustom04" required>
                        <option value="MultipleLines_Yes">Yes</option>
                        <option value="MultipleLines_No">No</option>
                        <option value="MultipleLines_No phone service">No phone service</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="validationCustom04" class="form-label">Internet Service</label>
                      <select name="internetservice" class="form-select form-select-sm" aria-label=".form-select-sm example" id="validationCustom04" required>
                        <option value="InternetService_DSL">DSL</option>
                        <option value="InternetService_Fiber optic">Fiber optic</option>
                        <option value="InternetService_No">No</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="validationCustom04" class="form-label">Online Security</label>
                      <select name="OnlineSecurity" class="form-select form-select-sm" aria-label=".form-select-sm example" id="validationCustom04" required>
                        <option value="OnlineSecurity_Yes">Yes</option>
                        <option value="OnlineSecurity_No">No</option>
                        <option value="OnlineBackup_No internet service">No internet service</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="validationCustom04" class="form-label">Online Backup</label>
                      <select name="OnlineBackup" class="form-select form-select-sm" aria-label=".form-select-sm example" id="validationCustom04" required>
                        <option value="OnlineBackup_Yes">Yes</option>
                        <option value="OnlineBackup_No">No</option>
                        <option value="OnlineBackup_No internet service">No internet service</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="validationCustom04" class="form-label">Device Protection</label>
                      <select name="DeviceProtection" class="form-select form-select-sm" aria-label=".form-select-sm example" id="validationCustom04" required>
                        <option value="DeviceProtection_Yes">Yes</option>
                        <option value="DeviceProtection_No">No</option>
                        <option value="DeviceProtection_No internet service">No internet service</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="validationCustom04" class="form-label">Tech Support</label>
                      <select name="TechSupport" class="form-select form-select-sm" aria-label=".form-select-sm example" id="validationCustom04" required>
                        <option value="TechSupport_Yes">Yes</option>
                        <option value="TechSupport_No">No</option>
                        <option value="TechSupport_No internet service">No internet service</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="validationCustom04" class="form-label">Streaming TV</label>
                      <select name="streamingtv" class="form-select form-select-sm" aria-label=".form-select-sm example" id="validationCustom04" required>
                        <option value="StreamingTV_Yes">Yes</option>
                        <option value="StreamingTV_No">No</option>
                        <option value="StreamingTV_No internet service">No internet service</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="validationCustom04" class="form-label">Streaming Movies</label>
                      <select name="streamingmovies" class="form-select form-select-sm" aria-label=".form-select-sm example" id="validationCustom04" required>
                        <option value="StreamingMovies_Yes">Yes</option>
                        <option value="StreamingMovies_No">No</option>
                        <option value="StreamingMovies_No internet service">No internet service</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="validationCustom04" class="form-label">Contract</label>
                      <select name="Contract" class="form-select form-select-sm" aria-label=".form-select-sm example" id="validationCustom04" required>
                        <option value='Contract_Month'>Month-to-month</option>
                        <option value='Contract_Two year'>Two year</option>
                        <option value='Contract_One year'>One year</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                  </div>
                  <div class="col-md-3">
                    <label for="validationCustom04" class="form-label">Dependents</label>
                    <select name="Dependents_Yes" class="form-select form-select-sm" aria-label=".form-select-sm example" id="validationCustom04" required>
                      <option value='Dependents_Yes'>Yes</option>
                      <option value='Dependents_No'>No</option>
                    </select>
                    <div class="invalid-feedback">
                      Please select a valid state.
                    </div>
                </div>
                  <div class="col-md-3">
                      <label for="validationCustom04" class="form-label">Paperless Billing</label>
                      <select name="PaperlessBilling" class="form-select form-select-sm" aria-label=".form-select-sm example" id="validationCustom04" required>
                        <option value="PaperlessBilling_Yes">Yes</option>
                        <option value="PaperlessBilling_No">No</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                  </div>
                  <div class="col-md-3">
                      <label for="validationCustom04" class="form-label">Payment Method</label>
                      <select name="PaymentMethod" class="form-select form-select-sm" aria-label=".form-select-sm example" id="validationCustom04" required>
                        <option value="PaymentMethod_Electronic check">Electronic check</option>
                        <option value="PaymentMethod_Mailed check">Mailed check</option>
                        <option value="PaymentMethod_Bank transfer (automatic)">Bank transfer (automatic)</option>
                        <option value="PaymentMethod_Credit card (automatic)">Credit card (automatic)</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                  </div>
  
                  <div class="col-md-3">
                    <label for="customRange3" class="form-label">Tenure</label>
                    <input name="tenure" type="range" class="form-range" min="0" max="72" step="1" value="10" id="customRange3">
                    <p>Value: <span id="customRange3Value"></span></p>
                    <div class="invalid-feedback">
                      Please select a valid state.
                    </div>
                  </div>
                  <div class="col-md-3">
                      <label for="customRange4" class="form-label">Monthly Charges</label>
                      <input name="MonthlyCharges" type="range" class="form-range" min="18" max="118" step="1" value="10" id="customRange4">
                      <p>Value: <span id="customRange4Value"></span></p>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                  </div>
                  <div class="col-md-6">
                      <label for="customRange5" class="form-label">Total Charges</label>
                      <input name="TotalCharges" type="range" class="form-range" min="18" max="8684" step="1" value="10" id="customRange5">
                      <p>Value: <span id="customRange5Value"></span></p>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                  </div>
  
                  <div class="col-12">
                    <button id="submit-prediction" class="btn btn-primary" type="submit">Submit form</button>
                  </div>
                </form>


              </div>

              <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                <div class="card mb-3" style="margin-top: 30px;">
                  <div class="row g-0">
                    <div class="col-md-8">
                      

                      <p class="card-text">
                        <code><pre id=""> 
                        # best params for results above

                        params = {'border_count': 5,
                         'depth': 1,
                         'iterations': 250,
                         'l2_leaf_reg': 1,
                         'learning_rate': 0.2,
                         'thread_count': 4,
                         'verbose': False}
                        
                        cat_model = CatBoostClassifier(**params)
                        
                        cat_model.fit(X_train, y_train)

                        y_pred = cat_model.predict(X_test)
                      </pre></code></p>

                    </div>
                    <div class="col-md-4">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><code><pre>

                        </pre></code></p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-8">
                      <img src="https://github.com/caesarorz/telcochurn/blob/main/data/images/model_features7.png?raw=true" class="card-img-top" alt="...">
                    </div>
                    <div class="col-md-4">
                      <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                        <p class="card-text"><code><pre>

                          feature_imp = pd.DataFrame(
                              data=cat_model.get_feature_importance(), 
                              index=cat_model.feature_names_, 
                              columns=['Features Impr']).sort_values(by='Features Impr', ascending=False)
                              
                          plt.figure(figsize=(8,4))
                          sns.barplot(data=feature_imp, x=feature_imp.index, y='Features Impr');
                          plt.xticks(rotation=90);

                        </pre></code></p>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>

        </div>
      </div>















    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Custom validatin script for form -->
    <script src="static/script.js"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>